<div class="message is-danger is-fullheight">
	<h2 class="message-header subtitle mb-0">Cards</h2>
	<section class="message-body">
		<div class="box">
			<h2 class="subtitle">Hand</h2>
			<div
				class="pg__deck-list mb-3"
				cdkDropList
				cdkDropListOrientation="horizontal"
				(cdkDropListDropped)="dropHand($event)"
			>
				<mc-deck-card
					[card]="card"
					cdkDragLockAxis="x"
					cdkDrag
					*ngFor="let card of player.handCards"
				></mc-deck-card>
			</div>
		</div>

		<div class="tile is-ancestor">
			<div class="tile is-parent">
				<div class="tile is-child">
					<div class="box">
						<h2 class="subtitle">Table</h2>
						<div class="flex-center mb-3">
							<mc-deck-card
								[card]="card"
								cdkDrag
								*ngFor="let card of player.playCards"
							></mc-deck-card>
						</div>
					</div>
				</div>
			</div>
			<div class="tile is-parent">
				<div class="tile is-child">
					<div class="box">
						<h2 class="subtitle">Bank</h2>
						<div class="flex-center mb-3">
							<mc-deck-card
								[card]="card"
								cdkDrag
								*ngFor="let card of player.bankCards"
							></mc-deck-card>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
