<div class="container is-fluid is-desktop flex-center">
	<div class="tile is-ancestor">
		<div class="tile is-parent is-vertical is-3 table__control-panel">
			<div class="tile is-child table__control-panel-container">
				<mc-control-panel>
					<ng-content host-panel select="[host-panel]"></ng-content>
				</mc-control-panel>
			</div>

			<div class="tile is-child">
				<mc-chat></mc-chat>
			</div>
		</div>

		<div class="tile is-parent is-vertical">
			<div class="tile is-child table__players-list">
				<mc-players-list></mc-players-list>
			</div>

			<div class="tile is-child">
				<div class="message is-info is-fullheight">
					<h2 class="message-header subtitle mb-0">Cards</h2>
					<section class="message-body">
						<mc-hand-deck></mc-hand-deck>
						<div class="tile is-ancestor">
							<div class="tile is-parent">
								<div class="tile is-child">
									<mc-sets-deck></mc-sets-deck>
								</div>
							</div>
							<div class="tile is-parent table__bank-container">
								<div class="tile is-child">
									<mc-bank-deck></mc-bank-deck>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
</div>
