<div class="container is-fluid is-desktop py-5">
	<div class="tile is-ancestor">
		<div class="tile is-parent is-vertical table__control-panel">
			<div class="tile is-child table__control-panel-container">
				<gs-control-panel>
					<ng-content host-panel select="[host-panel]"></ng-content>
				</gs-control-panel>
			</div>

			<div class="tile is-child">
				<gs-chat></gs-chat>
			</div>
		</div>

		<div class="tile is-parent is-vertical table__players">
			<div class="tile is-child">
				<gs-players-list></gs-players-list>
			</div>

			<div class="tile is-child">
				<div class="message is-info is-fullheight table__player">
					<h2 class="message-header subtitle mb-0">
						Your game: {{ playerDataService.playerName }}
					</h2>
					<section class="message-body">
						<gs-hand-deck></gs-hand-deck>
						<div class="tile is-ancestor">
							<div class="tile is-parent">
								<div class="tile is-child">
									<gs-sets-deck></gs-sets-deck>
								</div>
							</div>
							<div class="tile is-parent table__bank-container">
								<div class="tile is-child">
									<gs-bank-deck></gs-bank-deck>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
</div>
