.message-header {
	position: initial;
}

.table__wrapper {
	display: flex;
	margin: 10px;
}

.table__control-panel {
	max-width: 350px;
}

.table__control-panel-container {
	max-height: 1px;
}

.table__players {
	max-width: calc(100vw - 390px);
}

.container {
	height: 100%;
	min-height: 100vh;
}

.table__bank-container {
	max-width: 350px;
}
