<div class="container is-fluid is-desktop flex-center">
	<div class="tile is-ancestor">
		<div class="tile is-parent is-vertical is-3 table__control-panel">
			<div class="tile is-child">
				<mc-control-panel [statusMsg]="statusMsg" [actionCard]="actionCard">
					<ng-content host-panel select="[host-panel]"></ng-content>
				</mc-control-panel>
			</div>

			<div class="tile is-child">
				<mc-chat [playerName]="player.name"></mc-chat>
			</div>
		</div>

		<div class="tile is-parent is-vertical">
			<div class="tile is-child table__players-list">
				<mc-players-list></mc-players-list>
			</div>

			<div class="tile is-child">
				<mc-player-game></mc-player-game>
			</div>
		</div>
	</div>
</div>
