<div class="message is-info flex-column">
	<h2 class="message-header subtitle mb-0" i18n="@@chat_title">
		Messages
	</h2>

	<div class="message-body flex-column">
		<div class="box chat__board">
			<p class="mb-1" *ngFor="let msg of messages$ | async">
				<span class="tag is-info" [style.backgroundColor]="msg.bgColor">
					{{ msg.player }}
				</span>
				<span>
					{{ msg.text }}
				</span>
			</p>
		</div>

		<!--TODO add formControl-->
		<form class="is-flex">
			<input
				class="input is-danger"
				type="text"
				placeholder="Type Here"
				(keyup.enter)="send()"
				[formControl]="sendMsg"
			/>

			<!-- <button class="button is-dark ml-5" i18n="@@chat_send-button">
				Send
			</button> -->
		</form>
	</div>
</div>
