#game,
#cards,
#turn,
#board,
#win {
	color: #fafafa;
}

.tabs {
	position: sticky;
	top: 56px;
	background-color: #333333;
	z-index: 1;
}

.container {
	max-width: 960px;
}

.card {
	padding-top: 2rem;

	.card-content {
		padding: 2rem;
	}
}

.rules__board-img {
	display: block;
	max-width: 455px;
	max-height: 422px;
	width: auto;
	height: auto;
}
