<h1 class="has-text-centered has-text-white is-size-1">
	Rules
</h1>
<div class="tabs is-centered">
	<ul>
		<li>
			<a [routerLink]="['./']" fragment="start" class="has-text-primary"
				>Start game</a
			>
		</li>
		<li><a class="has-text-primary">Cards</a></li>
		<li>
			<a [routerLink]="['./']" fragment="turn" class="has-text-primary"
				>Your turn</a
			>
		</li>
		<li><a class="has-text-primary">How to win</a></li>
	</ul>
</div>
<div>
	<h2 id="start" class="has-text-centered has-text-white is-size-1">
		Start game
	</h2>
	<h2 id="cards" class="has-text-centered has-text-white is-size-1">
		Cards
	</h2>
	<h2 id="turn" class="has-text-centered has-text-white is-size-1">
		Your turn
	</h2>
</div>
