@import '../../styles.scss';

$flip-card-transition-time: 0.6s;

:host-context(.card_pile) {
	.card__wrapper {
		&:hover {
			transform: scale(2) translate(-2px, -10px);

			.card {
				@extend .card_rotate;
			}
		}
		.card__tooltip {
			display: none;
		}
	}
}

.card__wrapper {
	display: inline-block;
	margin: 15px * $scale;
	background-color: inherit;
	width: auto;
	height: auto;
	border-radius: 15px * $scale;
	position: relative;
	opacity: 1;
	transition: all ease-in-out $flip-card-transition-time;
	cursor: pointer;

	&.card__wrapper_clicked {
		transform: scale(2);
		.card {
			z-index: 10000;
		}

		> .card__tooltip {
			left: -28px;
			z-index: 10;
		}
	}
}

.card {
	background-color: #ffffff;
	border-radius: 30px * $scale;
	width: 195px * $scale;
	height: 260px * $scale;
	color: #333;
	font-size: 1rem * $scale;
	z-index: 10;

	transition: all ease-in-out $flip-card-transition-time;

	&.card_rotate {
		transform: rotateY(180deg);

		.card__value,
		.card__content {
			opacity: 0;
		}

		.card__container::before {
			opacity: 1;
		}
	}
}

.card__container {
	background-color: inherit;
	box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
		-8px -8px 12px 0 rgba(255, 255, 255, 0.3);
	width: 100%;
	height: 100%;
	border-radius: 15px * $scale;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	position: relative;
	opacity: 1;
	transition: all ease-in-out $flip-card-transition-time;

	&::before {
		content: attr(data-desc);
		width: 100%;
		height: 100%;
		border-radius: 10px * $scale;
		position: absolute;
		top: 3px * $scale;
		display: block;
		// border: 2px dotted #333;
		// pointer-events: none;
		padding: 10px * $scale;
		transform: rotateY(180deg);
		opacity: 0;
		transition: all ease-in-out $flip-card-transition-time;
	}
}

.card__value {
	border-radius: 50%;
	width: 50px * $scale;
	height: 50px * $scale;
	text-align: center;
	line-height: 48px * $scale;
	font-size: 1.4rem * $scale;
	font-weight: bold;
	align-self: flex-end;
	background-color: inherit;
	position: absolute;
	z-index: 1;
	opacity: 1;
	transition: all ease-in-out $flip-card-transition-time;
	box-shadow: 0 0 1px #000;
	filter: saturate(0.9);

	&.card__value_upsidedown {
		transform: rotate(180deg);
	}

	&:first-child {
		align-self: flex-start;
		top: -12px * $scale;
		left: -12px * $scale;
	}

	&:last-child {
		bottom: -12px * $scale;
		right: -12px * $scale;
	}
}

.card__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	position: relative;
	width: 100%;
	height: 100%;
	opacity: 1;
	transition: all ease-in-out $flip-card-transition-time;
}

.card__tooltip {
	transition: all ease-in-out $flip-card-transition-time;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	z-index: 0;
	left: 10px;
	height: 100%;
	top: 0;
	padding: 0px 20px 0 5px;
	font-size: 1rem;
	margin: 0;
	box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
		-8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}
