<div class="card__wrapper">
	<div class="card__tooltip box has-background-info-light">
		<span class="icon is-small" (click)="toggleInfo($event)">
			<i class="fas fa-info-circle"></i>
		</span>
		<span
			class="icon is-small"
			(click)="moveMoney()"
			*ngIf="
				config?.type !== CardType.WILDCARD &&
				config?.type !== CardType.PROPERTY &&
				config?.type !== CardType.PROPERTYWILD
			"
		>
			<i class="fas fa-money-check-alt"></i>
		</span>

		<span
			class="icon is-small"
			(click)="moveTable()"
			*ngIf="
				config?.type === CardType.PROPERTY ||
				config?.type === CardType.PROPERTYWILD ||
				config?.type === CardType.WILDCARD
			"
		>
			<i class="fas fa-th-large"></i>
		</span>
		<span
			class="icon is-small"
			(click)="movePile()"
			*ngIf="config?.type === CardType.ACTION || config?.type === CardType.RENT"
		>
			<i class="fas fa-inbox"></i>
		</span>
		<span class="icon is-small">
			<i class="fas fa-recycle"></i>
		</span>
	</div>

	<div class="card" [class.card_rotate]="showInfo">
		<div
			class="card__container"
			[attr.data-desc]="config?.desc"
			[style.background-color]="config?.bgColor"
		>
			<div
				class="card__value"
				*ngIf="config?.value"
				[style.background-color]="valueColor(true)"
				[style.color]="valueTextColor(true)"
			>
				${{ config.value }}
			</div>

			<div class="card__content">
				<ng-content></ng-content>
			</div>

			<div
				class="card__value"
				[class.card__value_upsidedown]="valueRotate"
				*ngIf="config?.value"
				[style.background-color]="valueColor(false)"
				[style.color]="valueTextColor(false)"
			>
				${{ config.value }}
			</div>
		</div>
	</div>
</div>
