$scale: 0.6;

$flip-card-transition-time: 0.6s;

.card {
	background-color: #fafafa;
	border: 2px solid #333;
	border-radius: 30px;
	width: 190px;
	height: 260px;
	padding: 13px;
	margin: 5px;
	color: #333;
	// transform: scale(0.6);

	transition: all ease-in-out $flip-card-transition-time;

	&.card_rotate {
		transform: rotateY(180deg);

		.card__value,
		.card__content {
			opacity: 0;
		}

		.card__container::before {
			opacity: 1;
		}
	}
}

.card__container {
	background-color: inherit;
	border: 2px solid #333;
	width: 100%;
	height: 100%;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	position: relative;
	padding: 10px;
	opacity: 1;
	transition: all ease-in-out $flip-card-transition-time;

	&::before {
		content: attr(data-desc);
		width: calc(100% - 10px);
		height: calc(100% - 10px);
		border-radius: 10px;
		position: absolute;
		top: 3px;
		// border: 2px dotted #333;
		pointer-events: none;
		padding: 10px;
		transform: rotateY(180deg);
		opacity: 0;
		transition: all ease-in-out $flip-card-transition-time;
	}
}

.card__value {
	border: 2px solid #333;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 48px;
	// transform: rotate(90deg);
	font-size: 1.4rem;
	font-weight: bold;
	align-self: flex-end;
	background-color: inherit;
	position: absolute;
	z-index: 1;
	opacity: 1;
	transition: all ease-in-out $flip-card-transition-time;

	// &::before {
	// 	content: "";
	// 	position: absolute;
	// 	border: 1px dotted #333;
	// 	width: 44px;
	// 	height: 44px;
	// 	left: -5px;
	// 	top: -5px;
	// 	border-radius: 50%;
	// }

	&:first-child {
		align-self: flex-start;
		top: -10px;
		left: -10px;
	}

	&:last-child {
		bottom: -10px;
		right: -10px;
	}
}

.card__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	position: relative;
	width: 100%;
	height: 100%;
	opacity: 1;
	transition: all ease-in-out $flip-card-transition-time;
}
