@import '../../styles.scss';

$flip-card-transition-time: 0.6s;

:host-context(.card_half-hover) {
	.card {
		&:hover {
			transform: scale(1.5);
		}
	}
}

.card {
	// box-shadow: 0 0 2px #333;
	background-color: #ffffff;
	border-radius: 30px * $scale;
	width: 195px * $scale;
	height: 260px * $scale;
	padding: 13px * $scale;
	margin: 5px * $scale;
	color: #333;
	font-size: 1rem * $scale;
	cursor: pointer;
	// transform: scale(0.6);

	transition: all ease-in-out $flip-card-transition-time;

	&.card_rotate {
		transform: rotateY(180deg);

		.card__value,
		.card__content {
			opacity: 0;
		}

		.card__container::before {
			opacity: 1;
		}
	}

	&:hover {
		transform: scale(3.5);
		z-index: 10000;
	}
}

.card__container {
	background-color: inherit;
	// border: 1px solid #333;
	width: 100%;
	height: 100%;
	border-radius: 15px * $scale;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	position: relative;
	padding: 8px * $scale;
	opacity: 1;
	transition: all ease-in-out $flip-card-transition-time;

	&::before {
		content: attr(data-desc);
		width: calc(100% - 10px);
		height: calc(100% - 10px);
		border-radius: 10px * $scale;
		position: absolute;
		top: 3px * $scale;
		// border: 2px dotted #333;
		pointer-events: none;
		padding: 10px * $scale;
		transform: rotateY(180deg);
		opacity: 0;
		transition: all ease-in-out $flip-card-transition-time;
	}
}

.card__value {
	// border: 1px dashed #333;
	border-radius: 50%;
	width: 50px * $scale;
	height: 50px * $scale;
	text-align: center;
	line-height: 48px * $scale;
	// transform: rotate(90deg);
	font-size: 1.4rem * $scale;
	font-weight: bold;
	align-self: flex-end;
	background-color: inherit;
	position: absolute;
	z-index: 1;
	opacity: 1;
	transition: all ease-in-out $flip-card-transition-time;
	box-shadow: 0 0 3px #333;

	&.card__value_upsidedown {
		transform: rotate(180deg);
	}

	&:first-child {
		align-self: flex-start;
		top: -10px * $scale;
		left: -10px * $scale;
	}

	&:last-child {
		bottom: -10px * $scale;
		right: -10px * $scale;
	}
}

.card__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 100%;
	height: 100%;
	opacity: 1;
	transition: all ease-in-out $flip-card-transition-time;
}
