.money__value {
	border: 3px solid #333;
	border-radius: 50%;
	width: 130px;
	height: 130px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
	font-weight: bold;
	background-color: rgba(#eee, 0.2);
}
