@import '../../styles.scss';

.money__value {
	border: 1px solid #333;
	// box-shadow: 0 0 3px #333;
	border-radius: 50%;
	width: 150px * $scale;
	height: 150px * $scale;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 4rem * $scale;
	font-weight: bold;
	background-color: rgba(#eee, 0.3);
}
