<header class="header">
	<nav class="navbar is-black" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<span class="icon header__icon">
				<i class="fas fa-gem"></i>
			</span>

			<a
				role="button"
				class="navbar-burger burger"
				[class.is-active]="openMenu"
				(click)="openMenu = !openMenu"
				aria-label="menu"
				aria-expanded="false"
				data-target="navbarBasicExample"
			>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>

		<div
			id="navbarBasicExample"
			class="navbar-menu"
			[class.is-active]="openMenu"
		>
			<div class="navbar-start">
				<a href="rules" target="_blank" class="navbar-item">
					How to play
				</a>
			</div>

			<div class="navbar-end">
				<div class="navbar-item">
					<div class="buttons">
						<a class="button is-link">
							<strong>Donate</strong>
						</a>
					</div>
				</div>
			</div>
		</div>
	</nav>
</header>
