<header class="header">
	<nav class="navbar is-black" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<span class="icon header__icon has-text-primary">
				<i class="fas fa-gem"></i>
			</span>
		</div>

		<div id="navbarBasicExample" class="navbar-menu">
			<div class="navbar-start">
				<p class="navbar-item has-text-primary">
					GEMESTONES
				</p>

				<a href="rules" target="_blank" class="navbar-item">
					How to play
				</a>
			</div>

			<div class="navbar-end">
				<div class="navbar-item">
					<div class="buttons">
						<a class="button is-primary">
							<strong>Donate</strong>
						</a>
					</div>
				</div>
			</div>
		</div>
	</nav>
</header>
