<div class="notification is-danger" *ngIf="error">
	<button class="delete" (click)="error = null"></button>
	{{ error }}
</div>

<section class="section is-flex">
	<div class="tile is-ancestor">
		<div class="tile is-horizontal">
			<div class="tile is-parent">
				<div class="tile is-child box has-background-primary join-game">
					<h2 class="title has-text-white" i18n="@@lobby__create-title">
						Create Game Room
					</h2>
					<form [formGroup]="createForm" (ngSubmit)="createRoom()">
						<div class="field">
							<label class="label has-text-white">Room Name:</label>
							<div class="control">
								<input
									class="input"
									formControlName="room"
									type="text"
									placeholder="Room Name"
								/>
							</div>
						</div>

						<div class="field">
							<div class="control">
								<button class="button is-link" [disabled]="!createForm.valid">
									Create
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="tile is-parent">
				<div class="tile is-child box has-background-success join-game">
					<h2 class="title has-text-white">Join Game Room</h2>

					<form [formGroup]="joinForm" (ngSubmit)="joinRoom()">
						<div class="field">
							<label class="label has-text-white">Room Name:</label>
							<div class="control">
								<input
									class="input"
									formControlName="joinName"
									type="text"
									placeholder="Room"
								/>
							</div>
						</div>

						<div class="field">
							<label class="label has-text-white">Player Name:</label>
							<div class="control">
								<input
									class="input"
									formControlName="playerName"
									type="text"
									placeholder="Player Name"
								/>
							</div>
						</div>

						<div class="field">
							<div class="control">
								<button class="button is-link" [disabled]="!joinForm.valid">
									Join
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
