@import "../../styles.scss";

:host {
	width: 100vw;
	max-width: 400px;
}

.lobby__section {
	background: $set7-color;
	border-radius: 30px;
	margin: 10px;

	&:first-child {
		background: $set6-color;
	}
}
