@import '../../../styles';

.hand__wrapper {
	margin-bottom: 20px;

	&.hand__wrapper_active {
		border: 2px solid $board-color;
	}
}

.hand__deck-list {
	@extend .flex-center;
	width: 100%;
}

.hand__card_hidden {
	display: none;
}
