<div
	class="box hand__wrapper"
	[class.hand__wrapper_active]="isMyTurn"
	#handList
>
	<h2 class="subtitle"><i class="fas fa-th"></i> Cards</h2>
	<div
		class="hand__deck-list mb-3"
		cdkDropList
		cdkDropListOrientation="horizontal"
		(cdkDropListDropped)="dropHand($event)"
	>
		<gs-deck-card
			#handCards
			class="hand__card"
			[class.hand__card_hidden]="calculatingHandWidth"
			[config]="card"
			cdkDragLockAxis="x"
			cdkDrag
			cdkDragBoundary=".hand__deck-list"
			*ngFor="let card of playerDataService.handCards$ | async"
		></gs-deck-card>
	</div>
</div>
