@import '../../../styles';

.bank__list {
	@extend .flex-center;
	min-height: 120px;
	width: calc(100% - 75px);
	flex-wrap: wrap;
	align-self: center;
	justify-content: flex-start;
	align-items: flex-start;
}
