<div class="box mini__container">
	<h6>{{ player.name }}</h6>

	<div class="mini__table">
		<div class="mini__sets-wrapper">
			<h6 class="mini__title">
				<i class="fas fa-layer-group"></i> {{ player.sets.length }}
			</h6>
			<div class="mini__sets-container">
				<div *ngFor="let set of player.sets" class="mini__set-container">
					<gs-deck-card
						class="mini__set-card"
						[config]="card"
						*ngFor="let card of set"
					></gs-deck-card>
				</div>
			</div>
		</div>

		<div class="mini__bank-list-container">
			<h6 class="mini__title"><i class="fas fa-sun"></i> {{ totalMoney }}</h6>
			<div class="mini__bank-list">
				<gs-deck-card
					#bankCards
					class="mini__bank-card"
					*ngFor="let card of player.bankCards"
					[config]="card"
				></gs-deck-card>
			</div>
		</div>
	</div>
</div>
