@import '../../../styles';

:host-context(.players__modal-mini) {
	> .mini__container {
		margin: 0;
	}

	.mini__bank-card {
		width: 2px;
	}
}

.mini__title {
	font-size: 80%;
	white-space: nowrap;
}

.mini__container {
	height: 100%;
	margin-right: 20px;
	border: 1px solid #f14668;
}

.mini__set-card {
	height: 6px;
	pointer-events: none;
	transform: translateY(-10px) scale(0.25);
}

.mini__set-container {
	display: flex;
	flex-direction: column;
	height: 30px;
	width: 25px;
	margin-top: 15px;
}

.mini__sets-wrapper {
	display: flex;
	flex-direction: column;
	padding-right: 2px;
}

.mini__sets-container {
	display: flex;
	width: 80px;
	flex-wrap: wrap;
	&:empty {
		height: 0;
	}
}

.mini__bank-card {
	width: 15px;
	height: 40px;
	pointer-events: none;
	transform: translateY(-10px) scale(0.25);
}

.mini__bank-list-container {
	display: flex;
	flex-direction: column;
	border-left: 1px solid #333333;
	padding-left: 2px;
}

.mini__bank-list {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 35px;
	align-self: stretch;
	flex-grow: 1;
	flex-wrap: wrap;
	padding-left: 15px;

	&:empty {
		height: 0;
	}
}

.mini__table {
	display: flex;
	border-top: 1px solid #333333;
}

.progress {
	height: 0.5rem;
}
