
<app-card [config]="config">
	<div class="property-card__main"
		[style.background-color]="bgColor"
		[style.color]="config?.textColor">
		<span class="property-card__title">
			{{config.name}}
		</span>
	</div>
	<div class="property-card__rent">
		<div class="property-card__rent-row">
			<span class="property-card__rent-title">RENT</span>
		</div>

		<div class="property-card__rent-row" *ngFor="let rent of config?.rents">
			<span class="property-card__card">{{rent.houses}}
				<i class="fas fa-home"></i>
			</span>
			<span><i class="fa fa-dollar-sign"></i> {{rent.rent}}
			</span>
		</div>
	</div>
</app-card>
