<mc-card [config]="config">
	<div
		class="property-card__main"
		[style.background-color]="bgColor"
		[style.color]="config?.textColor"
	>
		<span class="property-card__title">
			{{ config.name }}
		</span>
	</div>
	<div class="property-card__rent">
		<div class="property-card__rent-row property-card__rent-row_width">
			<span class="property-card__rent-title">RENT</span>
		</div>

		<div
			class="property-card__rent-row property-card__rent-row_width"
			*ngFor="let rent of config?.rents"
		>
			<span class="property-card__card">
				{{ rent.houses }}
				<i class="fas fa-gem"></i>
			</span>
			<span class="property-card__rent-value">$ {{ rent.rent }} </span>
		</div>
	</div>
</mc-card>
