<div class="box flex-column sets__table">
	<h2 class="subtitle">
		<i class="fas fa-layer-group"></i> Sets (
		{{ (playerDataService.sets$ | async)?.length }} )
		<progress
			class="progress is-primary"
			[value]="completeSets"
			max="3"
		></progress>
	</h2>
	<div class="sets__container" cdkDropListGroup>
		<div
			*ngFor="let set of playerDataService.sets$ | async"
			class="set__container"
			cdkDropList
			[cdkDropListData]="set"
			(cdkDropListDropped)="drop($event)"
		>
			<gs-deck-card
				class="set__card"
				[config]="card"
				cdkDrag
				cdkDragBoundary=".sets__table"
				*ngFor="let card of set"
			></gs-deck-card>
		</div>
	</div>
</div>
