@import '../../../../styles.scss';

.gemstone-card__title {
	display: flex;
	justify-content: center;
	line-height: 16px;

	> .icon {
		justify-self: flex-end;
		position: absolute;
		right: 0;
		height: 16px;
		font-size: 0.5rem;
	}
}

.gemstone-card__main {
	font-size: 1rem * $scale;
	font-weight: bold;
	width: 100%;
	text-align: center;
	line-height: 50px * $scale;
	text-transform: uppercase;
	box-sizing: content-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 15px * $scale 15px * $scale 0 0;
}

.gemstone-card__icon {
	align-self: flex-end;
	padding: 8px * $scale;
}

.gemstone-card__rent {
	width: 100%;
	padding-bottom: 15px * $scale;
	height: 100%;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-evenly;
}

.gemstone-card__rent-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 40px * $scale;

	&.gemstone-card__rent-row_width {
		width: 100%;
	}
}

.gemstone-card__card {
	line-height: 20px * $scale;
	text-align: center;
}

.gemstone-card__rent-title {
	text-align: center;
	width: 100%;
	font-size: 0.5rem;
}

.gemstone-card__rent-value {
	@extend .flex-center;
	width: 30px * $scale;
	line-height: 20px * $scale;
}
