<div
	class="card__wrapper"
	(click)="toggleCard()"
	[class.card__wrapper_clicked]="toggleCardClick"
>
	<div class="card__tooltip box has-background-info-light">
		<span class="icon is-small" (click)="toggleInfo($event)">
			<i class="fas fa-info-circle"></i>
		</span>
		<span
			class="icon is-small"
			(click)="moveMoney()"
			*ngIf="
				config?.type !== CardType.WILDCARD &&
				config?.type !== CardType.GEMSTONE &&
				config?.type !== CardType.GEMSTONEWILD
			"
		>
			<i class="fas fa-sun"></i>
		</span>

		<span
			class="icon is-small"
			(click)="moveTable()"
			*ngIf="
				(config?.type === CardType.GEMSTONE ||
					config?.type === CardType.GEMSTONEWILD ||
					config?.type === CardType.WILDCARD) &&
				isInHand
			"
		>
			<i class="fas fa-layer-group"></i>
		</span>

		<span
			class="icon is-small"
			(click)="rotateCard($event)"
			*ngIf="config?.type === CardType.GEMSTONEWILD"
		>
			<i class="fas fa-sync-alt"></i>
		</span>

		<span
			class="icon is-small"
			(click)="movePile()"
			*ngIf="config?.type === CardType.ACTION || config?.type === CardType.RENT"
		>
			<i class="fas fa-inbox"></i>
		</span>
		<span (click)="discard()" class="icon is-small" *ngIf="isInHand">
			<i class="fas fa-recycle"></i>
		</span>
	</div>

	<div
		class="card"
		[class.card_rotate]="showInfo"
		[class.card_wild-rotate]="isCardRotated"
	>
		<div
			class="card__container"
			[attr.data-desc]="config?.desc"
			[style.background-color]="config?.bgColor"
		>
			<div
				class="card__value"
				*ngIf="config?.value"
				[style.background-color]="valueColor(true)"
				[style.color]="valueTextColor(true)"
			>
				<i class="fas fa-sun"></i>{{ config.value }}
			</div>

			<div class="card__content">
				<ng-content></ng-content>
			</div>

			<div
				class="card__value"
				[class.card__value_upsidedown]="valueRotate"
				*ngIf="config?.value"
				[style.background-color]="valueColor(false)"
				[style.color]="valueTextColor(false)"
			>
				<i class="fas fa-sun"></i>{{ config.value }}
			</div>
		</div>
	</div>
</div>
