<gs-main-title></gs-main-title>

<div class="notification is-danger" *ngIf="error">
	<button class="delete" (click)="error = null"></button>
	{{ error }}
</div>

<section class="section is-flex">
	<div class="box has-background-info join-game">
		<h2 class="title has-text-white" i18n="@@lobby_join-title">
			Join Game Room
		</h2>

		<form [formGroup]="createForm" (ngSubmit)="createRoom()">
			<div class="field">
				<label class="label has-text-white" i18n="@@lobby_room-name"
					>Room Name:</label
				>
				<div class="control">
					<input
						class="input"
						formControlName="room"
						type="text"
						placeholder="Room"
					/>
				</div>
			</div>

			<div class="field">
				<label class="label has-text-white" i18n="@@lobby_player-name"
					>Player Name:</label
				>
				<div class="control">
					<input
						class="input"
						formControlName="player"
						type="text"
						placeholder="Player Name"
					/>
				</div>
			</div>

			<div class="field">
				<div class="control">
					<button
						class="button is-success is-fullwidth"
						[disabled]="!createForm.valid"
						i18n="@@lobby_join-room"
					>
						Join Room
					</button>
				</div>
			</div>
		</form>
	</div>
</section>
