@import "../../styles.scss";

.wild__rainbow {
	background: linear-gradient(
		to right,
		#955336 0%,
		#955336 10%,
		#aae0f9 10%,
		#aae0f9 20%,
		#d73995 20%,
		#d73995 30%,
		#f7931e 30%,
		#f7931e 40%,
		#ee1d23 40%,
		#ee1d23 50%,
		#fff100 50%,
		#fff100 60%,
		#30b45b 60%,
		#30b45b 70%,
		#0072bb 70%,
		#0072bb 80%,
		#cde7d0 80%,
		#cde7d0 90%,
		#231f20 90%,
		#231f20 100%
	);
	width: 100%;
	height: 20px;
}

.wild__title {
	background-color: #000000;
	color: #eee;
	text-align: center;
	padding: 5px;
	font-weight: bold;
	width: 100%;
	margin: 3px 0;
}

.wild__icon {
	font-size: 5rem;
	flex-grow: 1;
}

.wild__container {
	width: 100%;
}
