@import "../../styles.scss";

.wild__rainbow {
	width: 100%;
	height: 20px * $scale;
}

.wild__title {
	background-color: #000000;
	color: #eee;
	text-align: center;
	padding: 5px * $scale;
	font-weight: bold;
	width: 100%;
	margin: 1px 0;
}

.wild__icon {
	font-size: 5rem * $scale;
	flex-grow: 1;
}

.wild__container {
	width: 100%;
}
