<div class="box has-background-primary control-panel">
	<!-- <div class="tile is-child">
		<div
			class="notification is-warning is-size-7 mb-5 px-3 py-3"
			[class.is-hidden]="!(gamePlayersService.status$ | async)"
		>
			{{ gamePlayersService.status$ | async }}
		</div>
	</div> -->

	<div class="tile is-ancestor">
		<div class="tile is-parent">
			<div class="tile is-child control-panel__gem">
				<div
					class="notification is-warning is-size-7 px-3 py-3 mb-0"
					[class.is-hidden]="!(gamePlayersService.status$ | async)"
				>
					{{ gamePlayersService.status$ | async }}
				</div>

				<ng-content select="[host-panel]"></ng-content>

				<button
					class="button is-link is-fullwidth is-small"
					type="button"
					(click)="finishMyTurn()"
					[disabled]="!isMyTurn"
				>
					End Turn
				</button>

				<mat-spinner
					*ngIf="loading"
					[diameter]="50"
					color="accent"
				></mat-spinner>

				<span *ngIf="!loading && !isHost">
					<i class="fas fa-gem"></i>
				</span>
				<p class="my-0" *ngIf="!isHost">
					GEMSTONES
				</p>
			</div>
		</div>

		<div class="tile is-parent">
			<div
				class="control-panel__pile tile is-vertical is-child box has-background-link-light flex-center"
			>
				<h2 class="subtitle mb-3">
					<i class="fas fa-inbox"></i>
					Pile
				</h2>
				<gs-deck-card [config]="pileCard" class="card_pile"></gs-deck-card>
			</div>
		</div>
	</div>
</div>
