@import '../../../styles';

.players__container {
	@extend .flex-center;
	overflow-x: auto;
	width: 100%;
	justify-content: flex-start;
	padding: 20px;
}

.players__list {
	@extend .flex-center;
	justify-content: flex-start;
	align-items: stretch;
}

.players__modal-mini {
	z-index: 2000;
	transform: scale(3);
	// position: fixed;
	> .mini__container {
		margin-right: 0;
	}
}
