/* You can add global styles to this file, and also import other style files */
@import url('https://use.fontawesome.com/releases/v5.10.0/css/all.css');

$scale: 0.4;

// Set Colors
$set1-color: #955336;
$set2-color: #aae0f9;
$set3-color: #d73995;
$set4-color: #f7931e;
$set5-color: #d32f35;
$set6-color: #e9df23;
$set7-color: #30b45b;
$set8-color: #0072bb;
$set9-color: #cde7d0;
$set10-color: #231f20;

.message {
	.message-header {
		position: inherit;
	}

	&.is-dark {
		background-color: #e8e8e8;
	}

	&.is-fullheight {
		height: 100%;
	}
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	position: relative;
}

.flex-column {
	display: flex;
	height: 100%;
	flex-direction: column;
}

.box {
	// box-shadow: none;
}

.cdk-drag-preview {
	box-sizing: border-box;
	border-radius: 4px;
	// box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
	// 	0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
	opacity: 0;
}

.cdk-drag-animating {
	transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
}
