@import '../../../../styles.scss';

.gemstone-wild-card__main {
	font-weight: bold;
	width: 100%;
	text-align: center;
	line-height: 50px * $scale;
	box-sizing: content-box;
	border-radius: 15px * $scale 15px * $scale 0 0;
}

.gemstone-wild-card__rent {
	width: 100%;
	padding-top: 5px * $scale;
	height: 100%;
	font-weight: bold;
	padding: 8px * $scale;
}

.gemstone-wild-card__rent-row {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: 5px * $scale;
}

.gemstone-wild-card__card {
	position: relative;
	margin-right: 20px * $scale;
	border: 2px * $scale solid;
	border-radius: 5px * $scale;
	width: 20px * $scale;
	height: 25px * $scale;
	line-height: 20px * $scale;
	text-align: center;
}

.gemstone-wild-card__rent-title {
	text-align: center;
	width: 40%;
}

.property_sideA,
.property_sideB {
	width: 100%;
	height: 100%;
	font-size: 1rem * $scale;
}

.property_sideB {
	position: absolute;
	transform: rotate(180deg);
}

.gemstone-wild-card__rent-value {
	width: 30px * $scale;
	line-height: 20px * $scale;
}
