<gs-card [config]="config" [valueRotate]="true">
	<div class="property_sideA">
		<div
			class="gemstone-wild-card__main"
			[style.background-color]="bgColor(config?.propertyA)"
			[style.color]="config?.propertyA?.textColor"
		>
			{{ config.propertyA?.name }}
			<span class="icon">
				<i class="fas fa-gem"></i>
			</span>
		</div>

		<div class="gemstone-wild-card__rent">
			<div class="gemstone-wild-card__rent-row">
				<span class="gemstone-wild-card__rent-title">DUES</span>
			</div>

			<div
				class="gemstone-wild-card__rent-row"
				*ngFor="let rent of config?.propertyA?.rents"
			>
				<span class="mx-1"
					>{{ rent.houses }}
					<i class="fas fa-gem"></i>
				</span>
				<span class="gemstone-wild-card__rent-value">$ {{ rent.rent }} </span>
			</div>
		</div>
	</div>

	<div class="property_sideB">
		<div
			class="gemstone-wild-card__main"
			[style.background-color]="bgColor(config?.propertyB)"
			[style.color]="config?.propertyB?.textColor"
		>
			{{ config.propertyB?.name }}
			<span class="icon">
				<i class="fas fa-gem"></i>
			</span>
		</div>
		<div class="gemstone-wild-card__rent">
			<div class="gemstone-wild-card__rent-row">
				<span class="gemstone-wild-card__rent-title">DUES</span>
			</div>

			<div
				class="gemstone-wild-card__rent-row"
				*ngFor="let rent of config?.propertyB?.rents"
			>
				<span class="mx-1"
					>{{ rent.houses }}
					<i class="fas fa-gem"></i>
				</span>
				<span class="gemstone-wild-card__rent-value">$ {{ rent.rent }} </span>
			</div>
		</div>
	</div>
</gs-card>
