<div class="deck-card" [ngSwitch]="config?.type">
	<gs-rent-card
		class="deck-card__card"
		*ngSwitchCase="'RENT'"
		[config]="config"
	>
	</gs-rent-card>

	<gs-money-card
		class="deck-card__card"
		*ngSwitchCase="'MONEY'"
		[config]="config"
	>
	</gs-money-card>

	<gs-wild-card
		class="deck-card__card"
		*ngSwitchCase="'WILDCARD'"
		[config]="config"
	>
	</gs-wild-card>

	<gs-action-card
		class="deck-card__card"
		*ngSwitchCase="'ACTION'"
		[config]="config"
	>
	</gs-action-card>

	<gs-gemstone-wild-card
		class="deck-card__card"
		*ngSwitchCase="'GEMSTONEWILD'"
		[config]="config"
	>
	</gs-gemstone-wild-card>

	<gs-gemstone-card
		class="deck-card__card"
		*ngSwitchCase="'GEMSTONE'"
		[config]="config"
	>
	</gs-gemstone-card>
</div>
